<div class="row mt-5">
  <div class="col-md-6">
    <h2 class="bg-gray text-center fw-bold mb-3">管理者ログイン</h2>
  </div>
</div>
<div class="card border-0">
  <div class="card-body">
    <%= form_with model: @admin, url: session_path(resource_name), local: true do |f| %>
      <div class="row justify-content-center mb-2">
        <div class="col-3 field">
          <%= f.label :email, "メールアドレス", class: "form-label" %>
        </div>
        <div class="col-9 field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center mb-2">
        <div class="col-3 field">
          <%= f.label :password, "パスワード", class: "form-label" %>
        </div>
        <div class="col-9 field">
          <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 actions d-grid">
          <%= f.submit "ログイン", class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>

    <%= render "admin/shared/links" %>
  </div>
</div>
