<div class="row mt-5">
  <div class="col-4 offset-1">
    <h3 class="bg-gray d-inline-block text-center fw-bold px-4">会員一覧</h3>
  </div>
</div>
<div class="row mt-3 justify-content-center">
  <div class="col-8">
    <table class="table">
      <thead class="bg-light">
        <tr>
          <th scope="col">会員ID</th>
          <th scope="col">氏名</th>
          <th scope="col">メールアドレス</th>
          <th scope="col">ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td>
              <%= customer.id %>
            </td>
            <td>
              <%= link_to admin_customer_path(customer) do %>
                <div class="text-dark">
                  <%= customer.last_name %>
                  <%= customer.first_name %>
                </div>
              <% end %>
            </td>
            <td>
              <%= customer.email %>
            </td>
            <td class="<%= customer.is_active ? "text-success" : "text-secondary" %>" style="font-weight:bold;">
              <%= customer.is_active ? "有効" : "退会" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>