<div class="row mt-5">
  <div class="col-5">
    <h3 class="bg-gray d-inline-block text-center fw-bold px-4">
      <%= @customer.last_name %>
      <%= @customer.first_name %>
      <span>さんの会員詳細</span>
    </h3>
  </div>
</div>
<div class="row mt-5">
  <div class="col-3 pl-4">
    <p>会員ID</p>
    <p>氏名</p>
    <p>フリガナ</p>
    <p>郵便番号</p>
    <p>住所</p>
    <p>電話番号</p>
    <p>メールアドレス</p>
    <p>会員ステータス</p>
  </div>
  <div class="col-9">
    <p><%= @customer.id %></p>
    <p><%= @customer.last_name %>　<%= @customer.first_name %></p>
    <p><%= @customer.last_name_kana %>　<%= @customer.first_name_kana %></p>
    <p><%= @customer.postal_code %></p>
    <p><%= @customer.address %></p>
    <p><%= @customer.telephone_number %></p>
    <p><%= @customer.email %></p>
    <p class="<%= @customer.is_active ? "text-success" : "text-secondary" %>" style="font-weight:bold;"><%= @customer.is_active ? "有効" : "退会" %></p>
    <p>
      <%= link_to "編集する", edit_admin_customer_path(@customer), class: "btn btn-success mr-5" %>
      <%= link_to "注文履歴一覧を見る",  admin_root_path(customer_id: @customer.id), class: "btn btn-primary ml-5" %>
    </p>
  </div>
</div>