<div class="row mt-5">
  <div class="col-4 offset-1">
    <h3 class="bg-gray d-inline-block text-center fw-bold px-4">ジャンル一覧・追加</h3>
  </div>
</div>
<div class="mt-5">
  <%= form_with model: @genre, url: admin_genres_path do |f| %>
    <div class="row">
      <div class="col-2 fw-bold">
        <%= f.label :name, "ジャンル名" %>
      </div>
      <div class="col-3">
        <%= f.text_field :name, placeholder: "ジャンル名", class: "form-control border-dark" %>
      </div>
      <div class="col-2">
        <%= f.submit '新規登録', class: "form-control btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>

<table class="mt-5">
  <thead class="bg-gray">
    <tr>
      <div class="row">
        <div class="col-4">
          <th class="text-center" col="2">
            ジャンル
          </th>
        </div>
        <div class="col-2">
          <th col="1">
          </th>
        </div>
      </div>
    </tr>
  </thead>
  <tbody>
    <% @genres.each do |genre| %>
      <tr>
        <div class="row">
          <div class="col-4">
            <td col="2">
              <%= genre.name %>
            </td>
          </div>
          <div class="col-2">
            <td col="1">
              <%= link_to '編集する', edit_admin_genre_path(genre), class: "btn btn-success" %>
            </td>
          </div>
        </div>
      </tr>
    <% end %>
  <tbody>
</table>
