<div class="row mt-5">
  <div class="col-4 offset-1">
    <h3 class="bg-gray d-inline-block text-center fw-bold px-4">配送先登録/一覧</h3>
  </div>
</div>
<% submit_label = "新規登録" %>
<%= render 'address_form', address: @address, url: addresses_path, submit_label: submit_label %>
<div class="row mt-5">
  <div class="col-9">
    <table class="table table-bordered">
      <thead class="bg-gray">
        <tr>
          <th class="col-1">郵便番号</th>
          <th class="col-4">住所</th>
          <th class="col-1">宛名</th>
          <th class="col-3"></th>
        </tr>
      </thead>
      <tbody>
        <% @addresses.each do |address| %>
          <tr>
            <td><%= address.postal_code %></td>
            <td><%= address.address %></td>
            <td><%= address.name %></td>
            <td class="text-center">
              <%= link_to "編集する", edit_address_path(address), class: "btn btn-success" %>
              <%= link_to "削除する", address_path(address), method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>