<div class="row mt-5">
  <%= render 'genre_search', genres: @genres %>
  <div class="col-10">
    <div class="page-title">
      <% if params[:genre_name].present? %>
        <span style="font-size:1.75rem; font-weight:bold;"><%= @genre.name %>一覧</span>
      <% else %>
        <span style="font-size:1.75rem; font-weight:bold;">商品一覧</span>
      <% end %>
      <span style="font-size:1.25rem;"> (全<%= @all_items.count %>件) </span>
    </div>
    <div class="d-flex flex-wrap mt-3">
      <% @items.each do |item| %>
        <%= link_to item_path(item) do %>
          <div class="mr-3 mb-3" style="font-weight:bold; color:black;">
            <%= image_tag item.get_image, size: "212x159" %><br>
            <%= item.name %><br>
            <span>￥</span>
            <%= item.tax_include_price.to_s(:delimited) %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <%= paginate @items, param_name: 'page' %>
    </div>
  </div>
</div>
